

*,
*::after,
*::before {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	background-color: $bg_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	@include max(768px) {
		max-width: 100%;
	}
	
}

img {
	max-width: 100%;
	object-fit: cover;
}
a {
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	color: #fff;
	&:hover,
	&:active {
		text-decoration: none;
	}
}

button {
	border: 0px;
	outline: none;
	display: inline-block;
	background-color: transparent;

	&:hover,
	&:active {
		outline: none;
	}
}

ul,
ol {
	list-style: none;
}
