// font size

$font_size_14: 14px;
$font_size_15: 15px;
$font_size_16: 16px;
$font_size_18: 18px;
$font_size_19: 19px;
$font_size_20: 20px;
$font_size_21: 21px;
$font_size_22: 22px;
$font_size_30: 30px;
$font_size_33: 33px;
$font_size_80: 80px;


// font weight

$font_normal: 400;
$font_medium: 500;
$font_semi_bold: 600;
$font_bold: 700;

// heading font family

// font-family: 'Montserrat', sans-serif;
// font-family: 'Nunito Sans', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Source Code Pro', monospace;
