.btn{
	font-family: 'Nunito Sans', sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	color: #FFFFFF;
	background-color:  #5454D4;
	padding: 10px 20px;
	border-radius: 5px;
	border: 2px solid transparent;
	display: block;
    width: 150px;
    text-align: center;
	transition: all .3s ease;
	&:hover{
		background-color: transparent;
		border: 2px solid #ffffff;
	}
}