.about-section {
  .about-top {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    @include max(767px) {
      display: block;
    }
    @include max(480px) {
      padding-top: 70px;
    }
    &__left {
      width: 400px;
      padding-right: 20px;
      @include max(767px) {
        width: 100%;
        h2 {
          font-size: 36px;
          br {
            display: none;
          }
        }
      }
    }
    &__right {
      width: 50%;
      @include max(767px) {
        width: 100%;
      }
      p {
        max-width: 100%;
        padding: 10px;
        @include max(767px) {
          padding: 20px 0;
        }
      }
    }
  }
  .about-bottom {
    position: relative;
    height: 445px;
    @include max(480px) {
      height: 184px;
    }
    img {
      width: 100%;
      height: 100%;
    }
    a {
      font-size: 20px;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #5454d4;
      padding: 40px;
      border-radius: 50%;
      text-align: center;
      width: 45px;
      height: 45px;
      @include max(525px){
        width: 25px;
        height: 25px;
        padding: 20px;
        font-size: 14px;
      }
      i {
        position: absolute;
        top: 40%;
        left: 44%;
        @include max(525px){
          top: 35%;
          left: 41%;
        }
      }
      @include max(480px) {
        width: 40px;
        height: 40px;
        font-size: 16px;
      }
    }
  }
}
