.contact-section {
  background: rgba(30, 30, 32, 0.5);
  padding: 120px 0;
  @include max(525px) {
    padding: 80px 0;
  }
  .container {
    position: relative;
    z-index: 1;
  }
  .contact-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .section__title {
      text-align: left;
      margin: 0;
    }

    .contact-btn {
      float: right;
      @include max(767px) {
        flex: 0 0 100%;
        text-align: center;
      }
    }
  }
  .contact-plus {
    position: absolute;
    top: -50px;
    right: 0;
    z-index: -1;
    user-select: none;
  }
  .contact-circle {
    position: absolute;
    bottom: -80px;
    left: 0;
    z-index: -1;
    user-select: none;
  }
}
