.contact-section{
    background: rgba(30, 30, 32, 0.5);
    padding: 120px 0;
    @include max(525px){
        padding: 80px 0;
    }
    .contact-wrap{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        h2{
            flex: 0 0 70%;
            @include max(767px){
                flex: 0 0 100%;
                text-align: center;
                margin-bottom: 30px;
                font-size: 36px;
                line-height: 54px;
                br{display: none;}
            }
        }
        .contact-btn{
            flex: 0 0 30%;
            text-align: end;
            @include max(767px){
                flex: 0 0 100%;
                text-align: center;
            }
        }
    }
}