.hero{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    
    &__left{
        padding-top: 30px;
        padding-right: 50px;
        flex: 0 0 50%;
        @include max(991px){
            padding-right: 10px; 
        }
        @include max(767px){
            flex: 0 0 100%;
            padding-right: 15px;
        }
        h1{
            @include min(768px){
                br{
                    display:none;
                }
            }
            @include max(480px){
                font-size: 42px;
                line-height: 63px;
            } 
          
        }
        p{
            margin: 20px 0;
            @include max(480px){
                font-size: 16px;
                line-height: 24px;
            } 
            
        }
    }
    &__right{
        flex:0 0 50%;
        position: relative;
        img{
            width: 100%;
            position: relative;
            
        }
        @include max(767px){
            flex: 0 0 100%;
            margin-top: 50px;
        }
    }
}