.portfolio-section {
  .container {
    position: relative;
    z-index: 1;
  }
  .portfolio-circle {
    position: absolute;
    top: 0;
    right: 80px;
    z-index: -1;
    user-select: none;
  }
  .portfolio-rate {
    position: absolute;
    bottom: 0;
    left: 50px;
    z-index: -1;
    user-select: none;
  }
}
