.portfolio-section{
    .portfolio-wrap{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
        padding: 45px 0;
        @include max(580px){
            grid-template-columns: 1fr;
        }
        .portfolio-item{
            text-align: center;
            a{
                background: #1E1E20;
                border-radius: 10px;
                padding: 16px;
            }
            &--two{
                margin-top: 40px;
                @include max(580px){
                    margin-top: 0px;
                }
            }
            &--three{
                margin-top: 80px;
                @include max(580px){
                    margin-top: 0px;
                }
            }
        }
    }
}