.portfolio-section{
    .container{
        position: relative;
        z-index: 1;
    }
    .portfolio-wrap{
        display: flex;
        justify-content: space-between;
        padding: 45px 0;
        @include max(580px){
            flex-direction: column;
        }
        .portfolio-item{
            flex: 0 0 30%;
            @include max(580px){
                text-align: center;
                margin-bottom: 20px;
            }
            a{
                background: #1E1E20;
                border-radius: 10px;
                padding: 16px;
            }
            &--two{
                margin-top: 40px;
                text-align: center;
                @include max(580px){
                    margin-top: 0px;
                }
            }
            &--three{
                margin-top: 80px;
                text-align: right;
                @include max(580px){
                    margin-top: 0px;
                    text-align: center;
                }
            }
        }
    }
    .portfolio-circle{
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            user-select: none;
        }
        .portfolio-rate{
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
            user-select: none;
        }
}