.service-section {
  
  .container {
    position: relative;
    z-index: 1;
    @include max(767px){
    padding: 140px 15px;
  }
  }

  .service {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px;
    @include max(991px) {
      grid-gap: 30px 10px;
    }
    @include max(767px) {
      grid-template-columns: 1fr 1fr;
    }
    @include max(525px) {
      grid-template-columns: 1fr;
    }
    .service-card {
      text-align: center;
      .service-card__icon {
        margin-bottom: 15px;
        img {
          background: rgba(84, 84, 212, 0.1);
          padding: 10px;
          border-radius: 50%;
        }
      }
      .service-card__content {
        padding: 0px 40px;
        @include max(991px) {
          padding: 0px 10px;
        }
        h3 {
          margin-bottom: 15px;
        }
      }
    }
  }
  .service-triangle {
    position: absolute;
    top: 0;
    left: 155px;
    @include max(767px){
      left: 0px;
    }
    z-index: -1;
    user-select: none;
  }
  .service-cross-right {
    position: absolute;
    top: 50px;
    right: 80px;
    z-index: -1;
    user-select: none;
  }
  .service-cross-left {
    position: absolute;
    bottom: -50px;
    left: 60px;
    z-index: -1;
    user-select: none;
  }
}
