.swiper {
  position: relative;
  padding: 50px 0;
  &-wrapper {
    padding: 30px 0;
  }
  &-slide {
    width: 255px;
    height: 200px;
    border-radius: 10px;
    border: 20px solid #1e1e20;
    a {
      width: 100%;
      height: 100%;
      border-radius: 8px;
      overflow: hidden;
      display: inline-block;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &-active {
      margin-top: 40px;
    }
    &-next {
      margin-top: 80px;
    }
    &-duplicate-prev {
      margin-top: 120px;
    }
  }
}

.swiper-pagination-bullet-active {
  background-color: #5454d4;
}
