.swiper {
  position: relative;
  padding: 50px 0;
  @include max(480px) {
    padding: 10px 30px;
  }
  &-wrapper {
    padding: 30px 0;
    // @include max(480px) {
    //   padding: 0;
    // }
  }
  &-slide {
    width: 255px;
    height: 200px;
    @include max(767px) {
      height: 246px;
    }
    border-radius: 10px;
    border: 20px solid #1e1e20;
    a {
      width: 100%;
      height: 100%;
      border-radius: 8px;
      overflow: hidden;
      display: inline-block;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &-active {
      margin-top: 40px;
      @include max(768px) {
        margin-top: 0;
      }
    }
    &-next {
      margin-top: 80px;
      @include max(768px) {
        margin-top: 0;
      }
    }
    &-duplicate-prev {
      margin-top: 120px;
      @include max(768px) {
        margin-top: 0;
      }
    }
  }
}

.swiper-pagination-bullet-active {
  background-color: #5454d4;
  width: 12px;
  height: 5px;
  border-radius: 7px;
}

// .swiper-button-next, .swiper-button-prev {
//   top: 90%;
//   display: none;
//   &:after{
//     font-size: 20px;
//   }
//   @include max(525px) {
//     display: block;
//   }
// }
// .swiper-button-next{
//   right: 40%;
// }
// .swiper-button-prev {
//   left: 40%;
// }
