@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&family=Roboto:wght@700&display=swap");
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #19191B;
  color: #ffffff;
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 53px;
  line-height: 56px;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
}

h3 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.497977px;
}

p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.43573px;
  color: rgba(255, 255, 255, 0.7);
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: #fff;
}

a:hover, a:active {
  text-decoration: none;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  border: 0px;
  outline: none;
  display: inline-block;
  background-color: transparent;
}

button:hover, button:active {
  outline: none;
}

ul,
ol {
  list-style: none;
}

section {
  padding: 50px 0;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

@media (max-width: 480px) {
  .container {
    max-width: 100%;
    padding: 0 40px;
  }
}

.svg-animation {
  -webkit-animation: move 1.5s infinite;
          animation: move 1.5s infinite;
}

@-webkit-keyframes move {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    opacity: 0.25;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes move {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    opacity: 0.25;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.section-title {
  text-align: center;
  width: 480px;
  margin: 0 auto;
  padding-bottom: 50px;
}

@media (max-width: 767px) {
  .section-title {
    max-width: 100%;
    display: block;
    text-align: left;
    margin-bottom: 30px;
  }
  .section-title h2 {
    font-size: 36px;
    line-height: 54px;
  }
}

.btn {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  background-color: #5454D4;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid transparent;
  display: block;
  width: 150px;
  text-align: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn:hover {
  background-color: transparent;
  border: 2px solid #ffffff;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.navbar {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 480px) {
  .navbar__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (max-width: 767px) {
  .navbar__menu {
    display: none;
    position: absolute;
    background-color: #fff;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 3;
    padding: 20px 0;
  }
}

.navbar__menu ul li {
  display: inline-block;
  padding: 0 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 767px) {
  .navbar__menu ul li {
    display: block;
    padding: 10px 0;
    text-align: center;
  }
}

.navbar__menu ul li a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar__menu ul li a:active, .navbar__menu ul li a:hover {
  color: #5454d4;
}

@media (max-width: 767px) {
  .navbar__menu ul li a {
    color: #000;
  }
}

@media (max-width: 767px) {
  .navbar__btn {
    display: none;
  }
}

.navbar__btn a.btn {
  background-color: transparent;
  border: 2px solid #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar__btn a.btn:hover {
  background-color: #5454d4;
  border: 2px solid #5454d4;
}

.navbar__icon {
  display: none;
}

@media (max-width: 767px) {
  .navbar__icon {
    display: block;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 50px;
}

@media (max-width: 767px) {
  .hero {
    display: block;
  }
}

.hero__left {
  padding-top: 30px;
  width: 450px;
}

@media (max-width: 991px) {
  .hero__left {
    padding-right: 10px;
    width: 100%;
  }
}

.hero__left h1 {
  padding-bottom: 30px;
}

@media (max-width: 767px) {
  .hero__left h1 {
    font-size: 42px;
    line-height: 63px;
    padding-bottom: 20px;
  }
}

.hero__left p {
  padding-bottom: 30px;
}

@media (max-width: 480px) {
  .hero__left p {
    font-size: 16px;
    line-height: 24px;
  }
}

.hero__right {
  width: 50%;
  height: 300px;
  max-width: 100%;
  position: relative;
  z-index: 1;
  position: relative;
}

@media (max-width: 991px) {
  .hero__right {
    width: 100%;
  }
}

.hero__right .hero__right-bg {
  width: 60%;
  position: absolute;
  top: 34px;
  left: 40px;
  z-index: -1;
  bottom: -40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.hero__right .hero-svg {
  position: absolute;
  z-index: -1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: auto;
}

.hero__right .hero-rate-svg {
  top: 33px;
  left: -60px;
}

.hero__right .hero-circle-svg {
  top: 0;
  right: 80px;
}

.hero__right .hero-triangle-svg {
  bottom: -110px;
  left: -70px;
}

.hero__right .hero-plus-svg {
  bottom: -80px;
  right: 80px;
}

.about-section .about-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}

@media (max-width: 767px) {
  .about-section .about-top {
    display: block;
  }
}

.about-section .about-top__left {
  width: 400px;
  padding-right: 20px;
}

@media (max-width: 767px) {
  .about-section .about-top__left {
    width: 100%;
  }
  .about-section .about-top__left h2 {
    font-size: 36px;
  }
  .about-section .about-top__left h2 br {
    display: none;
  }
}

.about-section .about-top__right {
  width: 50%;
}

@media (max-width: 767px) {
  .about-section .about-top__right {
    width: 100%;
  }
}

.about-section .about-top__right p {
  max-width: 100%;
  padding: 10px;
}

@media (max-width: 767px) {
  .about-section .about-top__right p {
    padding: 30px 0;
  }
}

.about-section .about-bottom {
  position: relative;
  height: 445px;
}

.about-section .about-bottom img {
  width: 100%;
  height: 100%;
}

.about-section .about-bottom a {
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #5454d4;
  padding: 40px;
  border-radius: 50%;
  text-align: center;
  width: 45px;
  height: 45px;
}

.about-section .about-bottom a i {
  position: absolute;
  top: 40%;
  left: 44%;
}

.service-section .container {
  position: relative;
  z-index: 1;
}

.service-section .service {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;
}

@media (max-width: 991px) {
  .service-section .service {
    grid-gap: 30px 10px;
  }
}

@media (max-width: 767px) {
  .service-section .service {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 525px) {
  .service-section .service {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.service-section .service .service-card {
  text-align: center;
}

.service-section .service .service-card .service-card__icon {
  margin-bottom: 15px;
}

.service-section .service .service-card .service-card__icon img {
  background: rgba(84, 84, 212, 0.1);
  padding: 10px;
  border-radius: 50%;
}

.service-section .service .service-card .service-card__content {
  padding: 0px 40px;
}

@media (max-width: 991px) {
  .service-section .service .service-card .service-card__content {
    padding: 0px 10px;
  }
}

.service-section .service .service-card .service-card__content h3 {
  margin-bottom: 15px;
}

.service-section .service-triangle {
  position: absolute;
  top: 0;
  left: 155px;
  z-index: -1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.service-section .service-cross-right {
  position: absolute;
  top: 50px;
  right: 80px;
  z-index: -1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.service-section .service-cross-left {
  position: absolute;
  bottom: -50px;
  left: 60px;
  z-index: -1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.portfolio-section .container {
  position: relative;
  z-index: 1;
}

.portfolio-section .portfolio-circle {
  position: absolute;
  top: 0;
  right: 80px;
  z-index: -1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.portfolio-section .portfolio-rate {
  position: absolute;
  bottom: 0;
  left: 50px;
  z-index: -1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.contact-section {
  background: rgba(30, 30, 32, 0.5);
  padding: 120px 0;
}

@media (max-width: 525px) {
  .contact-section {
    padding: 80px 0;
  }
}

.contact-section .container {
  position: relative;
  z-index: 1;
}

.contact-section .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-section .contact .section__title {
  text-align: left;
  margin: 0;
}

.contact-section .contact .contact-right {
  float: right;
}

@media (max-width: 767px) {
  .contact-section .contact .contact-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    text-align: center;
  }
}

.contact-section .contact-plus {
  position: absolute;
  top: -50px;
  right: 60px;
  z-index: -1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.contact-section .contact-circle {
  position: absolute;
  bottom: -80px;
  left: 80px;
  z-index: -1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.swiper {
  position: relative;
  padding: 50px 0;
}

.swiper-wrapper {
  padding: 30px 0;
}

.swiper-slide {
  width: 255px;
  height: 200px;
  border-radius: 10px;
  border: 20px solid #1e1e20;
}

.swiper-slide a {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  display: inline-block;
}

.swiper-slide a img {
  width: 100%;
  height: 100%;
}

.swiper-slide-active {
  margin-top: 40px;
}

.swiper-slide-next {
  margin-top: 80px;
}

.swiper-slide-duplicate-prev {
  margin-top: 120px;
}

.swiper-pagination-bullet-active {
  background-color: #5454d4;
}

.footer-section {
  padding: 30px 0px 60px;
}

.footer-section .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .footer-section .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-section .footer .footer-menu ul li {
  display: inline-block;
  text-align: center;
  margin: 5px 10px;
}

.footer-section .footer .footer-menu ul li a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer-section .footer .footer-menu ul li a:hover {
  color: #5454d4;
}

@media (max-width: 480px) {
  .footer-section .footer .footer-menu ul li {
    display: block;
  }
}
