@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&family=Roboto:wght@700&display=swap");
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #19191B;
  color: #ffffff;
}

h1,
h2 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 53px;
  line-height: 56px;
}

h2 {
  font-weight: 700;
  font-size: 39.8214px;
  line-height: 46px;
}

h3 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.497977px;
}

p {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.43573px;
  color: rgba(255, 255, 255, 0.7);
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: #fff;
}

a:hover, a:active {
  text-decoration: none;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  border: 0px;
  outline: none;
  display: inline-block;
  background-color: transparent;
}

button:hover, button:active {
  outline: none;
}

ul,
ol {
  list-style: none;
}

section {
  padding: 50px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 480px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
}

.btn {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  background-color: #5454D4;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid transparent;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn:hover {
  background-color: transparent;
  border: 2px solid #ffffff;
}

.navbar {
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 480px) {
  .navbar__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (max-width: 480px) {
  .navbar__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

.navbar__menu ul li {
  display: inline-block;
  padding: 0 15px;
}

@media (max-width: 480px) {
  .navbar__menu ul li {
    display: block;
  }
}

.navbar__menu ul li a {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.navbar__menu ul li a:active, .navbar__menu ul li a:hover {
  color: #5454D4;
}

@media (max-width: 480px) {
  .navbar__btn {
    display: none;
  }
}

.navbar__btn a.btn {
  background-color: transparent;
  border: 2px solid #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.navbar__btn a.btn:hover {
  background-color: #5454D4;
  border: 2px solid #5454D4;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 480px) {
  .hero {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.hero__left {
  padding-top: 30px;
  padding-right: 150px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}

@media (max-width: 480px) {
  .hero__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding-right: 15px;
  }
}

@media (max-width: 480px) {
  .hero__left h1 {
    font-size: 42px;
    line-height: 63px;
  }
}

.hero__left p {
  margin: 20px 0;
}

@media (max-width: 480px) {
  .hero__left p {
    font-size: 16px;
    line-height: 24px;
  }
}

.hero__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
  position: relative;
}

@media (max-width: 480px) {
  .hero__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-top: 50px;
  }
}

.hero__right img {
  width: 100%;
  position: relative;
}

.about-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-top__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding-right: 20px;
}

@media (max-width: 480px) {
  .about-top__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.about-top__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

@media (max-width: 480px) {
  .about-top__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.about-top__right p {
  width: 400px;
  max-width: 100%;
  padding: 10px;
}

@media (max-width: 480px) {
  .about-top__right p {
    padding: 30px 0;
  }
}

.about-bottom {
  position: relative;
}

.about-bottom img {
  width: 100%;
}

.about-bottom .play-btn {
  position: absolute;
  width: 70px;
  top: 40%;
  left: 45%;
  bottom: 50%;
}

@media (max-width: 480px) {
  .about-bottom .play-btn {
    width: 50px;
  }
}

.service-section h2 {
  text-align: center;
  padding: 10px 0px 50px;
}

.service-section .service-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;
}

@media (max-width: 991px) {
  .service-section .service-wrap {
    grid-gap: 30px 10px;
  }
}

@media (max-width: 767px) {
  .service-section .service-wrap {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 525px) {
  .service-section .service-wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.service-section .service-wrap .service-item {
  text-align: center;
}

.service-section .service-wrap .service-item .service-icon img {
  background: rgba(84, 84, 212, 0.1);
  padding: 10px;
  border-radius: 50%;
}

.service-section .service-wrap .service-item .service-content {
  padding: 0px 40px;
}

@media (max-width: 991px) {
  .service-section .service-wrap .service-item .service-content {
    padding: 0px 10px;
  }
}

.service-section .service-wrap .service-item .service-content h3 {
  margin: 15px 0;
}

.portfolio-section .portfolio-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 45px 0;
}

@media (max-width: 580px) {
  .portfolio-section .portfolio-wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.portfolio-section .portfolio-wrap .portfolio-item a {
  background: #1E1E20;
  border-radius: 10px;
  padding: 16px;
}

.portfolio-section .portfolio-wrap .portfolio-item--two {
  margin-top: 40px;
}

@media (max-width: 580px) {
  .portfolio-section .portfolio-wrap .portfolio-item--two {
    margin-top: 0px;
  }
}

.portfolio-section .portfolio-wrap .portfolio-item--three {
  margin-top: 80px;
}

@media (max-width: 580px) {
  .portfolio-section .portfolio-wrap .portfolio-item--three {
    margin-top: 0px;
  }
}

.contact-section {
  background: rgba(30, 30, 32, 0.5);
  padding: 120px 0;
}

@media (max-width: 525px) {
  .contact-section {
    padding: 80px 0;
  }
}

.contact-section .contact-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-section .contact-wrap h2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
}

@media (max-width: 767px) {
  .contact-section .contact-wrap h2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    text-align: center;
    margin-bottom: 30px;
  }
}

.contact-section .contact-wrap .contact-btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  text-align: end;
}

@media (max-width: 767px) {
  .contact-section .contact-wrap .contact-btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    text-align: center;
  }
}

.footer-section {
  padding: 30px 0px 60px;
}

.footer-section .footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .footer-section .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-section .footer-wrap .footer-menu ul li {
  display: inline-block;
  text-align: center;
  margin: 5px 10px;
}

@media (max-width: 480px) {
  .footer-section .footer-wrap .footer-menu ul li {
    display: block;
  }
}
